//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Main Navigation
//  *   CH03 - Main Navigation Logo
//  *   CH04 - Main Navigation Menu



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================



//================================================================================================================
//  *   CH02 - Main Navigation
//================================================================================================================
.main-nav {
    @include fixed(top 0 left 0);
    height: 48px;
    width: 100%;
    z-index: 50;

    @include breakpoint(md) {
        height: 94px;
    }

    @include breakpoint(lg) {
        background-color: background-color(themes, white);
        box-shadow: 1px 2px 4.85px .15px rgba(0, 0, 0, .17);
    }

    &.is-active {
        .safebox {
            height: auto !important;
        }

        .main-nav-menu {
            opacity: 1;
            visibility: visible;
        }
    }

    + .main-nav-init {
        padding-top: 48px;

        @include breakpoint(md) {
            padding-top: 94px;
        }
    }
}

.main-nav-container {
    @include breakpoint(sm) {
        max-width: 100%;
    }

    @include breakpoint(md) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @include breakpoint(lg) {
        padding-left: $l-section-gutter;
        padding-right: $l-section-gutter;
        max-width: 960px;
    }

    @include breakpoint(wd) {
        max-width: 1170px;
    }

    .main-nav-bg {
        @include breakpoint(md) {
            margin-left: -32px;
            margin-right: -32px;
        }

        @include breakpoint(lg) {
            margin-left: -$l-section-gutter;
            margin-right: -$l-section-gutter;
        }

        .safebox {
            @include relative();
            height: 48px;
            width: 100%;

            @include breakpoint(lg) {
                @include flex(row, space-between, center, wrap);
                height: 94px;
            }

            .c-panel {
                @include relative();
                background-color: background-color(themes, white);
                padding: 0 $l-section-gutter;
    
                @include breakpoint(md) {
                    padding: 0 32px;
                }

                @include breakpoint(lg) {
                    padding: 0 $l-section-gutter;
                    background-color: transparent;
                }
            }
        }
    }    
}



//================================================================================================================
//  *   CH03 - Main Navigation Logo
//================================================================================================================
.main-nav-logo {
    @include flex(column, center, flex-start, wrap);
    box-shadow: 1px 2px 4.85px .15px rgba(0, 0, 0, .17);
    height: 48px;
    width: 100%;
    z-index: 10;

    @include breakpoint(md) {
        height: 94px;
    }

    @include breakpoint(lg) {
        box-shadow: none;
        width: 200px;
    }

    .logo {
        display: block;
        width: 100px;

        @include breakpoint(md) {
            width: 200px;
        }
    }
}



//================================================================================================================
//  *   CH04 - Main Navigation Menu
//================================================================================================================
.toggle-mobile-nav-menu {
    @include absolute(top 16.5px right $l-section-gutter);
    appearance: none;
    cursor: pointer;
    width: 24px;
    z-index: 10;

    @include breakpoint(md) {
        right: 32px;
        top: 31.5px;
        width: 35px;
    }

    @include breakpoint(lg) {
        display: none;
        visibility: hidden;
    }

    span {
        background-color: button-color(background-color-theme-purple, default);
        display: block;
        height: 3px;
        margin-top: 3px;

        @include breakpoint(md) {
            height: 7px;
            margin-top: 5px;
        }

        &:nth-of-type(1) {
            margin-top: 0;
        }
    }
}

.main-nav-menu {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;

    @include breakpoint(lg) {
        opacity: 1;
        visibility: visible;
        width: auto;
    }

    .menu {
        padding: 1rem 0;

        @include breakpoint(md) {
            padding: 2rem 0;
        }

        @include breakpoint(lg) {
            @include flex(row, flex-start, center, wrap);
            padding: 0;
            width: auto;
        }

        .list {
            @extend %font-primary;
            @include relative();
            @include font-size(24px);
            appearance: none;
            display: block;
            font-weight: bold;
            line-height: normal;
            padding: 1rem 0;
            text-align: center;

            @include breakpoint(md) {
                @include font-size(45px);
                padding: 2rem 0;
            }

            @include breakpoint(lg) {
                @include font-size(22px);
                margin: 0 2rem;
                padding: 1rem 0;
            }

            &::before {
                @include absolute(left 0 bottom 8px);
                content: '';
                height: 7px;
                width: 100%;
            }

            &:first-of-type {
                @include breakpoint(lg) {
                    margin-left: 0;
                }
            }

            &:last-of-type {
                @include breakpoint(lg) {
                    margin-right: 0;
                }
            }

            &.color-green:hover::before {
                @include breakpoint(lg) {
                    @include img-retina('../img/style/list-menu-hover-green', png, 152px, 7px, center, no-repeat);
                    background-position: left center;
                }
            }

            &.color-orange:hover::before {
                @include breakpoint(lg) {
                    @include img-retina('../img/style/list-menu-hover-orange', png, 152px, 7px, center, no-repeat);
                    background-position: left center;
                }
            }

            &.color-purple:hover::before {
                @include breakpoint(lg) {
                    @include img-retina('../img/style/list-menu-hover-purple', png, 152px, 7px, center, no-repeat);
                    background-position: left center;
                }
            }

            &.color-cyan:hover::before {
                @include breakpoint(lg) {
                    @include img-retina('../img/style/list-menu-hover-cyan', png, 152px, 7px, center, no-repeat);
                    background-position: left center;
                }
            }
        }
    }
}