<header class="main-header main-nav-init">
    <div class="l-section main-header-container">
        <div class="l-section-shrink">
            <div class="safebox">

                <div class="c-panel main-header-heading">
                    <img 
                        alt="<?=$heading;?>" 
                        class="figure-assets svg" 
                        src="<?=$main_banner;?>" 
                        data-original="<?=$main_banner;?>" 
                    />

                </div> <!-- .main-header-heading -->
                
                <div class="c-panel main-header-entry">
                    <p>Sebagai bagian dari Nestlé, <span class="theme-color"> <?= strtoupper($campaign_head) ?> </span> turut serta membantu Ibu mewujudkan Nestlé for Healthier Kids dengan melengkapi kandungan gizi, untuk mendukung eksplorasi dan tumbuh kembang si Kecil.</p>
                </div> <!-- .main-header-entry -->

            </div> <!-- .safebox -->
        </div> <!-- .l-section-shrink -->
    </div> <!-- .main-header-container -->

    <div class="main-header-bg">
        <img 
            alt="figure background rocket" 
            class="figure-assets rocket svg lazy" 
            src="{{ theme:image_url file='upload/placeholder/figure-bg-main-banner-placeholder.png' }}" 
            data-original="{{ theme:image_url file='upload/figure/figure-bg-main-banner.svg' }}" 
        />
    </div> <!-- .main-header-bg -->
    
</header>