//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Store variables for breakpoint media queries



//================================================================================================================
//  *   CH01 - Store variables for breakpoint media queries
//================================================================================================================
// Extra small screen
$xs: '320px';

// Small screen
$sm: '576px';

// Medium screen
$md: '767.8px';

// Large screen
$lg: '992px';

// Wide screen
$wd: '1200px';

// Other variables as necessary
