//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Global Color Variable
//  *   CH02 - Text Color
//  *   CH03 - Background Color
//  *   CH04 - Border Color
//  *   CH05 - Box Shadow Color
//  *   CH06 - Text Color
//  *   CH07 - Button Color


//================================================================================================================
//  *   CH01 - Global Color Variable
//================================================================================================================
//  *   Link Text Color
$link-colors:   (
    primary: (
        default: #007bff,
        hover: #0056b3,
        active: #0056b3,
        disabled: #6c757d,
    ),
    secondary:  (
        default: #ffffff,
        hover: #ffffff,
        active: #ffffff,
        disabled: #ffffff
    ),
    // Themes
    theme-green:  (
        default: #8dc049,
        hover: #8dc049,
        active: #8dc049,
        disabled: #6c757d
    ),
    theme-orange:  (
        default: #f6a120,
        hover: #f6a120,
        active: #f6a120,
        disabled: #6c757d
    ),
    theme-purple:  (
        default: #9362a5,
        hover: #9362a5,
        active: #9362a5,
        disabled: #6c757d
    ),
    theme-cyan:  (
        default: #26bbe4,
        hover: #26bbe4,
        active: #26bbe4,
        disabled: #6c757d
    ),
    // etc..
);

//  *   Background Color
$background-colors: (
    primary: (
        default: #8e3329
    ),
    secondary: (
        default: #ff0000,
    ),
    // Themes
    themes: (
        green: #8dc049,
        orange: #f6a120,
        purple: #9362a5,
        cyan: #26bbe4,
        blue: #7096ce,
        pink: #ec71aa,
        white: #ffffff,
    ),
    // etc..
);

//  *   Border Color
$border-colors: (
    primary: (
        default: #4a4a4a
    ),
    secondary: (
        default: #ffffff
    ),
    // Themes
    themes: (
        green: #8dc049,
        orange: #f6a120,
        purple: #9362a5,
        cyan: #26bbe4,
        blue: #7096ce,
        pink: #ec71aa,
        white: #ffffff,
    ),
    // etc..
);

//  *   Box shadow Color
$box-shadow-colors: (
    primary: (
        default: rgba(0, 0, 0, .5)
    ),
    secondary: (
        default: rgba(255, 255, 255, .5)
    ),
    // etc..
);

//  *   Text Color
$text-colors:    (
    // Paragraph
    p-primary: (
        default: #4a4a4a
    ),
    p-secondary: (
        default: #ffffff
    ),
    // Heading
    h-primary: (
        default: #1f1f1f
    ),
    h-secondary: (
        default: #ffffff
    ),
    // Label
    l-primary: (
        default: #1f1f1f
    ),
    l-secondary: (
        default: #ffffff
    ),
    // Themes
    themes: (
        green: #8dc049,
        orange: #f6a120,
        purple: #9362a5,
        cyan: #26bbe4,
        blue: #7096ce,
        pink: #ec71aa,
        white: #ffffff,
    ),
    // etc..
);

//  *   Button Color
$button-colors: (
    // Button Text Color
    color-primary: (
        default: #ffffff,
        hover: #ffffff,
        active: #ffffff,
        disabled: #ffffff,
    ),
    // Button Background Color
    background-color-primary: (
        default: #007bff,
        hover: #0069d9,
        active: #0062cc,
        disabled: null
    ),
    // Button Themes Background Color
    background-color-theme-green: (
        default: #8dc049,
        hover: #8dc049,
        active: #8dc049,
        disabled: null
    ),
    background-color-theme-orange: (
        default: #f6a120,
        hover: #f6a120,
        active: #f6a120,
        disabled: null
    ),
    background-color-theme-purple: (
        default: #9362a5,
        hover: #9362a5,
        active: #9362a5,
        disabled: null
    ),
    // etc...
);



//================================================================================================================
//  *   CH02 - Link Text Color
//================================================================================================================
$link-color-key: 'base' !default;

@function link-color($name: primary, $variant: $link-color-key, $opacity: 1) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($link-colors, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}

// Example usage
.my-link-button {
    color: link-color(secondary, default);

    &:hover {
        color: link-color(primary, hover);
    }

    &.secondary {
        color: link-color(secondary);

        &:hover {
            color: link-color(secondary, hover);
        }
    }
}



//================================================================================================================
//  *   CH03 - Background Color
//================================================================================================================
$background-color-key: 'base' !default;

@function background-color($name: primary, $variant: $background-color-key) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($background-colors, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}

// Example usage
.my-background-button {
    background-color: background-color(secondary, default);

    &:hover {
        background-color: background-color(primary, hover);
    }

    &.secondary {
        background-color: background-color(secondary);

        &:hover {
            background-color: background-color(secondary, hover);
        }
    }
}



//================================================================================================================
//  *   CH04 - Border Color
//================================================================================================================
$border-color-key: 'base' !default;

@function border-color($name: primary, $variant: $border-color-key) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($border-colors, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}

// Example usage
.my-border-button {
    border: 1px solid border-color(secondary, default);

    &:hover {
        border-color: border-color(primary, hover);
    }
}



//================================================================================================================
//  *   CH05 - Box Shadow Color
//================================================================================================================
$box-shadow-color-key: 'base' !default;

@function box-shadow-color($name: primary, $variant: $box-shadow-color-key) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($box-shadow-colors, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}

// Example usage
.my-box-shadow-button {
    box-shadow: 0 0 10px box-shadow-color(secondary, default);
}



//================================================================================================================
//  *   CH06 - Text Color
//================================================================================================================
$text-color-key: 'base' !default;

@function text-color($name: primary, $variant: $text-color-key) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($text-colors, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}

// Example usage
.my-text-color {
    color: text-color(p-primary, default);
}



//================================================================================================================
//  *   CH07 - Button Color
//================================================================================================================
$button-color-key: 'base' !default;

@function button-color($name: primary, $variant: $button-color-key) {
    $color: null;

    // Get the color spectrum
    $color-spectrum: map-get($button-colors, $name);

    // Get the color variant
    @if $color-spectrum {
        $color: map-get($color-spectrum, $variant);
    }

    @return $color;
}

// Example usage
.my-button-primary {
    background-color: button-color(background-color-primary, default);
    color: button-color(color-primary, default);
}
