//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Store variables for section layout



//================================================================================================================
//  *   CH01 - Store layout width variables
//================================================================================================================
//  Layout section width on small screen
$l-section-width-sm: 540px;

//  Layout section width on medium screen
$l-section-width-md: 720px;

//  Layout section width on large screen
$l-section-width-lg: 960px;

//  Layout section width on wide screen
$l-section-width-wd: 1140px;

//  Layout gutter section
$l-section-gutter: 1rem;
