//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Install Luchbox W01 Light
//  *   CH02 - Install Luchbox Font Family



//================================================================================================================
//  *   CH01 - Install Luchbox W01 Light
//================================================================================================================
@include font-face('LunchBoxW01', '../fonts/LunchBoxW01-Light/LunchBoxW01-Light', $style: normal, $weight: 300);

%font-primary {
    font-family: 'LunchBoxW01', Arial, sans-serif;
    font-weight: 300;
}



//================================================================================================================
//  *   CH02 - Install Luchbox Font Family
//================================================================================================================
@include font-face('LunchBox', '../fonts/Lunchbox/LunchBox-Light', $style: normal, $weight: 300);
@include font-face('LunchBox', '../fonts/Lunchbox/LunchBox', $style: normal, $weight: normal);

%font-primary-alt {
    font-family: 'LunchBox', Arial, sans-serif;
    font-weight: normal;

    &.fw-light {
        font-weight: 300;
    }
}
