<style type="text/css">
    video#myVideo {
          position:absolute;
          top:50%;
          left:50%;
          min-width:100%;
          min-height:100%;
          width:auto;
          height:auto;
          z-index:-100;
          -ms-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          background: url(../images/clouds.jpg) no-repeat;
          background-size: cover;
        }
        video {
          display:block;
        }
</style>
 <video autoplay muted id="myVideo">
  <source src="addons/default/themes/rideventure/video/VID-20191002-WA0004.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<!-- banner -->
<div id="home" class="banner">
    <div class="banner-agileinfo">
        <!-- header -->
        <div class="header">

            <div class="container">     
                <div class="logo">
                    <h1>
                        <a href="index.html">
                            RideVenture
                            <div style="padding-left: 30px;">
                                <img src="{{ theme:image_url file='upload/placeholder/favicon.png' }}" style="width: 15%;">
                            </div>
                        </a>
                    </h1>
                    
                    
                </div> 
                <div class="menu">
                    <a href="" id="menuToggle"> <span class="navClosed"></span> </a>
                    <nav>  
                        <a href="#home" class="active scroll">HOME</a> 
                        <a href="#about" class="scroll">GUIDE TOURS</a>  
                        <a href="#services" class="scroll">PRIVATE GROUP TOURS</a>  
                        <a href="#news" class="scroll">SELF GUIDE TOUR</a>
                        <a href="#spec" class="scroll">MOTORCYCLES</a> 
                        <a href="#gallery" class="scroll">ABOUT</a> 
                        <a href="#contact" class="scroll">CONTACT</a> 
                    </nav>
                    <script>
                    (function($){
                        // Menu Functions
                        $(document).ready(function(){
                        $('#menuToggle').click(function(e){
                            var $parent = $(this).parent('.menu');
                          $parent.toggleClass("open");
                          var navState = $parent.hasClass('open') ? "hide" : "show";
                          $(this).attr("title", navState + " navigation");
                                // Set the timeout to the animation length in the CSS.
                                setTimeout(function(){
                                    console.log("timeout set");
                                    $('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
                                }, 200);
                            e.preventDefault();
                        });
                      });
                    })(jQuery);
                    </script>
     
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //header -->
        
        <div class="banner-text">
            <div class="container">     
                <h2>WE OFFER THE BEST <span>MOTORBIKES</span></h2>
                <a href="#about" class="buy btn-wayra scroll"> More About</a>
            </div> 
        </div>
    </div>
</div>
<!-- //banner -->
<script type="text/javascript">
$(document).ready(function(){
    var vid = document.getElementById("myVideo");
    vid.volume = 100;
})
</script>