<!-- note: add class 'is-active' to modal-overlay to display modal -->
<div class="modal-overlay is-active">
    <div class="modal-container">
        <div class="modal-safebox">
            <div class="modal-bounds">
                
                <div class="l-section modal">
                    <a href="javascript:void(0)" class="fn-toggle-close-modal modal-close-button"></a>
                    <div class="l-section-shrink">
                        <div class="safebox">

                            <div class="modal-content">

                                <div class="modal-content-container">

                                    <div class="c-panel c-modal-heading">
                                        <h2>Modal Heading</h2>
                                    </div> <!-- .c-modal-heading -->
                                    <div class="c-panel c-modal-entry">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                                    </div> <!-- .c-modal-entry -->
                                    <div class="c-panel modal-button-action-wrapper">
                                        <a href="#" class="o-button button-default">Button</a>
                                        <a href="#" class="o-button button-default">Button</a>
                                    </div> <!-- .modal-button-action-wrapper -->

                                </div> <!-- .modal-content-container -->

                            </div> <!-- .modal-content -->

                        </div> <!-- .safebox -->
                    </div> <!-- .l-section-shrink -->
                </div> <!-- .modal -->

            </div> <!-- .modal-bounds -->
        </div> <!-- .modal-safebox -->
    </div> <!-- .modal-container -->
</div> <!-- .modal-overlay -->