//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Base Component
//  *   CH03 - Card Thumbnail
//  *   CH04 - Card Entry
//  *   CH05 - Card Individual Themes Color
//  *   CH06 - Card Themes Color
//  *   CH07 - Card Icon Category
//  *   CH07 - Card Figure Label



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================




//================================================================================================================
//  *   CH02 - Base Component
//================================================================================================================
.c-card-thumbnail-group {
    padding-left: 42px !important;
    padding-right: 42px !important;

    @include breakpoint(md) {
        padding-left: 84px !important;
        padding-right: 84px !important;
    }

    @include breakpoint(lg) {
        padding-left: 38px !important;
        padding-right: 38px !important;
    }

    .l-section-shrink {
        margin-left: -42px;
        margin-right: -42px;

        @include breakpoint(md) {
            margin-left: -84px;
            margin-right: -84px;
        }

        @include breakpoint(lg) {
            margin-left: -38px;
            margin-right: -38px;
        }
    }
}

.thumbnail-shadow-bg {
    @include absolute(bottom 0 left 50%);
    transform: translateY(65%) translateX(-50%);
    overflow: hidden;
    padding-top: 17.8571428571%;
    width: 90%;
    z-index: -1;

    .figure-assets {
        @include absolute(top 0 left 0);
        height: 100%;
        width: 100%;
    }
}



//================================================================================================================
//  *   CH03 - Card Thumbnail
//================================================================================================================
.c-card-thumbnail {
    @include breakpoint(lg) {
        @include flex(row, center, flex-start, wrap);
        width: 100%;
    }

    .c-card {
        padding-bottom: 46px;
        padding-left: 42px;
        padding-right: 42px;

        @include breakpoint(md) {
            padding-bottom: 92px;
            padding-left: 84px;
            padding-right: 84px;
        }

        @include breakpoint(lg) {
            padding-bottom: 85px;
            padding-left: 38px;
            padding-right: 38px;
            width: 50%;
        }

        @include breakpoint(wd) {
            width: 33.3333333333%;
        }

        .bounds {
            @include relative();
            border-radius: 10px;
            padding: 12px;

            @include breakpoint(md) {
                border-radius: 20px;
                padding: 24px;
            }

            @include breakpoint(lg) {
                padding: 16px;
            }

            &::before {
                @include center(both);
                border-radius: 10px;
                content: '';
                height: calc(100% - 24px);
                width: calc(100% - 24px);
                border-width: 1px;
                border-style: dashed;
                border-color: border-color(themes, white);

                @include breakpoint(md) {
                    border-radius: 20px;
                    border-width: 2px;
                    height: calc(100% - 48px);
                    width: calc(100% - 48px);
                }

                @include breakpoint(lg) {
                    height: calc(100% - 32px);
                    width: calc(100% - 32px);
                }
            }

            .c-card-content {
                @include relative();
                padding: 12px;

                @include breakpoint(md) {
                    padding: 24px;
                }

                @include breakpoint(lg) {
                    padding: 16px;
                }

                &::before {
                    @include center(both);
                    border-radius: 10px;
                    box-shadow: 2px 2px 7.28px 0.72px rgba(0, 0, 0, 0.2);
                    content: '';
                    height: calc(100% - 24px);
                    width: calc(100% - 24px);

                    @include breakpoint(md) {
                        border-radius: 20px;
                        height: calc(100% - 48px);
                        width: calc(100% - 48px);
                    }

                    @include breakpoint(lg) {
                        height: calc(100% - 32px);
                        width: calc(100% - 32px);
                    }
                }
            }
        }
    }
}

.c-card-image-thumbnail {
    @include relative();
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    padding-top: 72.4489795918%;
    z-index: 2;

    @include breakpoint(md) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .figure-assets {
        @include center(both);
        height: 100%;
        width: 100%;
    }
}



//================================================================================================================
//  *   CH04 - Card Entry
//================================================================================================================
.c-card-entry {
    @include flex(column, flex-start, center, wrap);
    @include relative();
    background-color: background-color(themes, white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 122px;
    padding: 20px 15px 12px;
    text-align: center;
    width: 100%;
    z-index: 2;

    @include breakpoint(md) {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        min-height: 244px;
        padding: 40px 30px 24px;
    }

    @include breakpoint(lg) {
        min-height: 175px;
        padding: 30px 70px 16px;
    }

    @include breakpoint(wd) {
        padding: 30px 24px 16px;
    }

    h4 {
        margin-bottom: 12px;

        @include breakpoint(md) {
            margin-bottom: 24px;
        }

        @include breakpoint(lg) {
            margin-bottom: 0;
        }
    }

    .o-button-arrow {
        @include breakpoint(lg) {
            @include center(horizontal);            
            bottom: 16px;
        }
    }
}



//================================================================================================================
//  *   CH05 - Card Individual Themes Color
//================================================================================================================
.c-card-thumbnail .c-card.color-green .bounds {
    background-color: background-color(themes, green) !important;
}

.c-card-thumbnail .c-card.color-orange .bounds {
    background-color: background-color(themes, orange) !important;
}

.c-card-thumbnail .c-card.color-purple .bounds {
    background-color: background-color(themes, purple) !important;
}

.c-card-thumbnail .c-card.color-cyan .bounds {
    background-color: background-color(themes, cyan) !important;
}

.c-card-thumbnail .c-card.color-blue .bounds {
    background-color: background-color(themes, blue) !important;
}

.c-card-thumbnail .c-card.color-pink .bounds {
    background-color: background-color(themes, pink) !important;
}



//================================================================================================================
//  *   CH06 - Card Themes Color
//================================================================================================================
.theme-green .c-card-thumbnail .c-card .bounds {
    background-color: background-color(themes, green);
}

.theme-orange .c-card-thumbnail .c-card .bounds {
    background-color: background-color(themes, orange);
}

.theme-purple .c-card-thumbnail .c-card .bounds {
    background-color: background-color(themes, purple);
}



//================================================================================================================
//  *   CH07 - Card Icon Category
//================================================================================================================
.c-card-icon-category {
    @include absolute(top 1rem right 1rem);
    border-radius: 100%;
    box-shadow: 2px 2px 4.85px .15px rgba(0, 0, 0, .31);
    height: 64px;
    overflow: hidden;
    width: 64px;

    @include breakpoint-max(xs) {
        height: 32px;
        right: .5rem;
        top: .5rem;
        width: 32px;
    }

    @include breakpoint(wd) {
        height: 46px;
        right: 10px;
        top: 10px;
        width: 46px;
    }
}



//================================================================================================================
//  *   CH07 - Card Figure Label
//================================================================================================================
.c-card-brand-label {
    @include absolute(bottom 1rem left 0);
    transform: translateX(-14%);
    height: 52px;
    width: 158px;

    @include breakpoint-max(xs) {
        bottom: .5rem;
        height: 26px;
        width: 79px;
    }

    @include breakpoint(wd) {
        bottom: 4px;
        height: 37px;
        width: 111px;
    }
}