//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Extend Variabels
//  *   CH03 - Link Default
//  *   CH04 - Link Themes



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================




//================================================================================================================
//  *   CH02 - Extend Variabels
//================================================================================================================
%reset-link {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}



//================================================================================================================
//  *   CH03 - Link Default
//================================================================================================================
.c-link {
    @extend %reset-link;
    color: link-color(primary, default);
    transition: all .2s ease-in-out;

    &:hover {
        color: link-color(primary, hover);
    }

    // Color Profiling
    &.color-green {
        color: link-color(theme-green, default) !important;
    }

    &.color-orange {
        color: link-color(theme-orange, default) !important;
    }

    &.color-purple {
        color: link-color(theme-purple, default) !important;
    }

    &.color-cyan {
        color: link-color(theme-cyan, default) !important;
    }
    // End Color Profiling
}



//================================================================================================================
//  *   CH04 - Link Themes
//================================================================================================================
.theme-green {
    .c-link {
        color: link-color(theme-green, default);

        &:hover {
            color: link-color(theme-green, hover);
        }

        &.is-active,
        &:active {
            color: link-color(theme-green, active);
        }

        &.disabled {
            color: link-color(theme-green, disabled);
        }
    }
}

.theme-orange {
    .c-link {
        color: link-color(theme-orange, default);

        &:hover {
            color: link-color(theme-orange, hover);
        }

        &.is-active,
        &:active {
            color: link-color(theme-orange, active);
        }

        &.disabled {
            color: link-color(theme-orange, disabled);
        }
    }
}

.theme-purple {
    .c-link {
        color: link-color(theme-purple, default);

        &:hover {
            color: link-color(theme-purple, hover);
        }

        &.is-active,
        &:active {
            color: link-color(theme-purple, active);
        }

        &.disabled {
            color: link-color(theme-purple, disabled);
        }
    }
}

.theme-green .c-link.fc-white,
.theme-orange .c-link.fc-white,
.theme-purple .c-link.fc-white {
    color: link-color(secondary, default);

    &:hover {
        color: link-color(secondary, hover);
        text-decoration: underline;
    }

    &.is-active,
    &:active {
        color: link-color(secondary, active);
    }

    &.disabled {
        color: link-color(secondary, disabled);
    }
}
