.lr{
  .form-group .bs-select .btn:not(.bs-placeholder),
  .form-control:not(:placeholder-shown){
    border-color: $body-color;
  }

	// kalo di popup
	&.modal-dialog{
  	.nav-tabs{
			border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  	}
  	.btn-social+.container{
  	}

		@include media-breakpoint-up(md) {
			max-width: 1080px;
		}

		.modal-body{
			@include border-bottom-radius($border-radius-lg);
			@include mask;
  		background-color: #f6f5fa;
  		background-image: url("../img/orn-sun.png"), url("../img/orn-sky.png");
  		background-repeat: no-repeat;
  		background-position: 100% 20px, 20px 95%;
  		background-size: 15% auto;
  		padding: 0;
		}
	}
	.modal-header{
		@extend .bg-emas-gr;
		text-align: center;
		padding: 0;
	}
	.nav-tabs{
		justify-content: center;
		.nav-item{
			width: 50%;

			@include media-breakpoint-up(md){
				width: 25%;
			}
		}
	}

	.modal-title{
		@include pfs(padding-top, 22px, 56px);
		@include pfs(padding-bottom, 13px, 35px);
		@include pfs(font-size, 18px, 43px);
	}

	.btn-social{
		text-align: center;
		padding: 2rem 0;
	}
	
	.btn-social + .container{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.profile-photo{
		@extend .col-12;

    @include media-breakpoint-down(sm) {
      .img { width: 70%; }
    }
		@include media-breakpoint-up(md){
			@include make-col(5.5);
		}
		.section-title{
			color: $emas-3;
			@include pfs(font-size, 20px, 35px);
			margin-bottom: .25rem;

			&+p{
				margin-bottom: 1rem;
			}
		}
		.btns{
			display: flex;
			margin-top: 1rem;
			.btn{
    		@include button-size(.7rem, .5rem, 1rem, 1, $border-radius);
    		width: 48%;
			}
			.btn+.btn{
				margin-left: 4%;
			}
		}

		&+.profile-form{
			@include pfs(padding-top, 20px, 35px);
		}
	}

	.profile-form{
		@extend .col-12;
		.section-title{
			margin-bottom: 1rem;
			font-size: (25/18)*1rem;
		}
		.anak-item{
			margin-top: 2px;
		}
		.anak-item:last-of-type{
			@include border-bottom-radius($border-radius);
		}
		.forget-link{
			font-size: .9rem;
			float: right;
			height: 1.25rem;
		}
	}

	#login-pane{
		.profile-form{
			margin: auto;
			@include media-breakpoint-up(md){
				@include make-col(5);
			}
		}
	}

	#register-pane{
		.profile-form{
			@include media-breakpoint-up(md){
				@include make-col(6);
				@include make-col-offset(.5);
				padding-left: 0;
			}
		}
	}

	&#mainContent{
		position: relative;
		display: flex;
		flex-direction: column;
		.subtitle{
	    @include pfs(padding-top, 30px, 50px);
	    @include pfs(padding-bottom, 20px, 30px);
			text-align: center;
		}
		>.container{
	    flex: 0 0 auto;
		}
		.nav-tabs{
			border: none;
			.nav-link:not(.active){
				background-color: #f6f5fa;
			}
		}
		.tab-content{
	    @include pfs(padding-bottom, 30px, 50px);
			background-color: #f6f5fa;
	    flex: 1 0 auto;
			border-top: $nav-tabs-border-width solid $nav-tabs-border-color;
			border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
			// min-height: percentage((667-178)/667);
			background-image: url("../img/o-awan1.png"), url("../img/orn-sun.png");
			background-repeat: no-repeat;
			background-size: percentage(182/$wpsd-d) auto, percentage(192/$wpsd-d) auto;
			background-position: percentage(80/$wpsd-d) 95% , top right;
		}
	}
}

// Thankyou page
.p-thankyou{
    background-repeat: no-repeat;
    background-image: 
      url("../img/o-awan.png"),
      url("../img/o-awan.png"),
      url("../img/o-awan1.png"),
      url("../img/o-footerL.png"),
      url("../img/o-footerR.png");

    @include media-breakpoint-down(xs){
      background-size: 
        percentage(44/$wpsd-m) auto,
        0 0,
        percentage(47/$wpsd-m) auto,
        percentage(68/$wpsd-m) auto,
        percentage(98/$wpsd-m) auto;
      background-position: 
        percentage(-20/$wpsd-m) percentage(50/170),
        0 0,
        percentage(341/$wpsd-m) percentage(31/170),
        percentage(28/$wpsd-m) 100%,
        percentage(315/$wpsd-m) 100%;
    }
    @include media-breakpoint-up(sm){
      background-size: 
        auto percentage(23/741),
        0 0,
        auto percentage(40/170),
        auto percentage(42/170),
        auto percentage(43/170);
      background-position: 
        percentage(-20/$wpsd-m) percentage(50/170),
        0 0,
        percentage(341/$wpsd-m) percentage(31/170),
        percentage(28/$wpsd-m) 100%,
        percentage(315/$wpsd-m) 100%;      
    }
    @include media-breakpoint-up(md){
      background-size: 
        auto percentage(100/741),
        auto percentage(45/741),
        auto percentage(72/741),
        auto percentage(114/741),
        auto percentage(118/741);
      background-position: 
        percentage(7/$wpsd-d) percentage(550/741),
        percentage(250/$wpsd-d) percentage(550/741),
        percentage(1390/$wpsd-d) percentage(500/741),
        percentage(80/$wpsd-d) 100%,
        percentage(1408.00/$wpsd-d) 100%;
    }

	text-align: center;
	display: flex;
	align-items: center;

	> .container{
		@include pfs(padding-top, 30px, 40px);
		@include pfs(padding-bottom, 50px, 100px);
	}

	.judul{
		@include pfs(font-size, 28px, 40px);
		line-height: $line-height-sm;
		margin-bottom: 1.5rem;

		span{
			font-size: percentage(60/40);
			display: block;
		}
	}
	.subjudul{
		@include pfs(font-size, 22px, 30px);
		margin-bottom: 1rem;
		@extend strong;
	}
	p{
		line-height: $line-height-lg;
		width: 90%;
		margin: auto;
	}
	.btn-emas{
		@extend strong;
		vertical-align: baseline;
  	@include button-size(.1rem, .3rem, $font-size-base, $input-btn-line-height, $btn-border-radius);
	}
}

.p-forgotPass{
		display: flex;
		align-items: center;
	>.container{
	}
	.form-control{
		border-width: 2px;
		border-color: $body-color;
		@include form-control-focus();
	}
}