@mixin icon-maker($img, $x, $y, $px, $py){
  background-image: url("#{$img}") no-repeat;
  width: $x;
  height: $y;
  background-position: $px $py;
}
@mixin box-sizing($sizing: border-box) {
  -ms-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
  box-sizing: $sizing;
}
@mixin brd($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
@mixin square($size){
	@include size($size, $size);
}
@mixin flex{
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}
@mixin align-items($align: stretch){
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}
@mixin justify-content($justify: flex-start){
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  -webkit-justify-content: $justify;
  justify-content: $justify;
}
@mixin auto( $top: 0, $bottom:0 ){margin: $top auto $bottom auto;}
@mixin flex-center{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}
@mixin animate($time : 200ms, $timing : ease-out){
	-webkit-transition: all $time;
    -moz-transition: all $time;
    -o-transition: all $time;
    -ms-transition: all $time;
    transition: all $time;
    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -ms-transition-timing-function: $timing;
    transition-timing-function: $timing;
}
@mixin transform($deg: 0deg, $scale: 1, $x: 0, $y: 0){
	-moz-transform: rotate($deg) scale($scale) translate($x, $y);
	-webkit-transform: rotate($deg) scale($scale) translate($x, $y);
	-o-transform: rotate($deg) scale($scale) translate($x, $y);
	-ms-transform: rotate($deg) scale($scale) translate($x, $y);
	transform: rotate($deg) scale($scale) translate($x, $y);
}
@mixin cover-it{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.left-side{ float: left; }
.right-side{ float: right; }