.bg-emas-gr{
  background: $emas-gr2;
  background: url('../img/emas-gr.png') repeat-y top center;
  background-size: 100% auto;
  background: -moz-linear-gradient(left, $emas-gr1 0%, $emas-gr2 6%, $emas-gr3 22%, $emas-gr2 39%, $emas-gr3 71%, $emas-gr2 86%, $emas-gr1 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $emas-gr1), color-stop(6%, $emas-gr2), color-stop(22%, $emas-gr3), color-stop(39%, $emas-gr2), color-stop(71%, $emas-gr3), color-stop(86%, $emas-gr2), color-stop(100%, $emas-gr1));
  background: -webkit-linear-gradient(left, $emas-gr1 0%, $emas-gr2 6%, $emas-gr3 22%, $emas-gr2 39%, $emas-gr3 71%, $emas-gr2 86%, $emas-gr1 100%);
  background: -o-linear-gradient(left, $emas-gr1 0%, $emas-gr2 6%, $emas-gr3 22%, $emas-gr2 39%, $emas-gr3 71%, $emas-gr2 86%, $emas-gr1 100%);
  background: -ms-linear-gradient(left, $emas-gr1 0%, $emas-gr2 6%, $emas-gr3 22%, $emas-gr2 39%, $emas-gr3 71%, $emas-gr2 86%, $emas-gr1 100%);
  background: linear-gradient(to right, $emas-gr1 0%, $emas-gr2 6%, $emas-gr3 22%, $emas-gr2 39%, $emas-gr3 71%, $emas-gr2 86%, $emas-gr1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$emas-gr1', endColorstr='$emas-gr1', GradientType=1 );
}

@include bg-variant(".bg-emas-gr1", $emas-gr1);
@include bg-variant(".bg-emas-gr2", $emas-2);
@include bg-variant(".bg-emas-gr3", $emas-3);

@include bg-variant(".bg-wy-emas", $wy-emas);
@include bg-variant(".bg-emas", $emas);
@include bg-variant(".bg-emas1", $emas-1);
@include bg-variant(".bg-emas2", $emas-2);
@include bg-variant(".bg-emas3", $emas-3);
@include bg-variant(".bg-cream", $cream);

@include bg-variant(".bg-merah", $merah);
@include bg-variant(".bg-wy-merah", $wy-merah);

// milestone
@include bg-variant(".bg-prahamil", $prahamil);
@include bg-variant(".bg-hamil", $hamil);
@include bg-variant(".bg-bayi", $bayi);
@include bg-variant(".bg-anak", $anak);

@each $color, $value in $grays {
  @include bg-variant(".bg-gray-#{$color}", $value);
}

// sikecilhebat
@include bg-variant(".bg-brown", $brown);
@include bg-variant(".bg-navy", $navy);

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}