$wy-emas: #e3c889;
$emas: #dab562;
$emas-1: #c89a35;
$emas-2: #b8871e;
$emas-3: #926600;
$emas-4: #a96a12;
$emas-gr1: #f5e59e; 
$emas-gr2: #e3b44e; 
$emas-gr3: #c3932d;

$cream: #F4F1EC;
$cream-1: #ECE5D8;
$cream-2: #EEDEC5;

$wy-merah: #b90000;
$wy-red: #d32919;
$merah: #d05c4c;

$navy: #08188A;
$brown: #E8D2AC;

// milestone color
$prahamil: #fff;
$hamil: #f8ebd1;
$bayi: #f3dcaf;
$anak: #e5c88f;

//smartness color
$sm-people: #ec6563;
$sm-self : #ea6fa9;
$sm-logic : #44bcea;
$sm-number: $sm-logic;
$sm-word : #1784bb;
$sm-body : #b2d038;
$sm-picture : #fcd94e;
$sm-music : #f49d35;
$sm-nature : #098f62;

// mfe color
$sm-akal: #ef953a;
$sm-fisik: #7bb156;
$sm-sosial: #00ace5;


// width psd
$wpsd-d: 1440;
$wpsd-m: 320;
$maxw: 2000;

// social colors
$youtube: #FF0000;
$facebook: #3b5998;
$twitter: #00b6f1;
$googleplus: #df4a32;
$instagrammagenta: #c32aa3;
$instagramblue: #4c5fd7;
$instagrampurple: #7232bd;
$instagramorange: #f46f30;
$instagramyellow: #ffdc7d;
$whatsappgreen: #25d366;

// kohinoor font-weight
$koh-weights: (
	normal: 200,
  light: 100,
  book: 200,
  demi: 300,
  medium: 400,
  bold: 500
);
