.smr-tabs.nav-pills{
  border: none;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  margin-bottom: -1px;
  .nav-item{
    width: percentage(1/3);
    text-align: center;
    img{ 
      display: block;
      margin: 0 auto .25rem;
      width: auto !important;
      height: 2rem !important;
    }
    font-size: .7rem;
    @include letterspace(40);
    text-transform: uppercase;

    &:first-child{
      .nav-link.active, .nav-link:hover{
          &::after{content: none;}
      }     
    }
    &:last-child{
      .nav-link.active, .nav-link:hover{
          &::before{content: none;}
      }     
    }
    @include media-breakpoint-up(md){ width: 30%;}
  }
  .nav-item+.nav-item{
    margin-left: 0rem;
    padding-left: .5rem;
  }
  .nav-link{
    color: #fff;
    border: none;
    @include border-radius($border-radius-lg);
    position: relative;
    padding: 0.3rem 0.25rem 0.3rem;
    margin-bottom: .5rem;
    line-height: 1;
    transition: none;
    &.active{ z-index: 2;}
    &.active, &:hover{
      @include border-bottom-radius(0);
      padding-bottom: .8rem;
      margin-bottom: 0;

      &::after, &::before{
        content: '';
        @include size(1rem);
        position: absolute;
        bottom: 0;
      }
      &::after{ left: -1rem; }
      &::before { right: -1rem; }
    }
  }
}
.smr-tab-content{
  display: flex;
  flex: 1 0 auto;
  .tab-pane{
    padding: 2rem;
    width: 100%;
    flex-wrap: wrap;
    @include border-radius(0 $border-radius-lg $border-radius-lg $border-radius-lg);
    &:first-of-type{
      border-top-left-radius: 0;
    }
    @include media-breakpoint-down(sm){
      &:last-of-type{
        border-top-right-radius: 0;
      }
    }
  }
  > .active{
    display: flex;
  }
}
.smr-tab-img{
  @include buatColReady;
  @include make-col(3);
  padding-right: 1rem;
}
.smr-tab-txt{
  @include buatColReady;
  @include make-col(9);

  .title{
    font-size: 2rem;
    @include fw(bold);
    margin-bottom: 1rem;
  }
  p{
    font-size: $font-size-sm;
    margin-bottom: 1rem;
  }
  strong{
    font-size: 1rem;
    @include fw(bold);
  }
}


.people{
  &-nav{
    .nav-link {background-color: $sm-people !important;border-color: $sm-people !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-people 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-people 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-people;
    color: #fff;
  }
}
.btn-people{ @include button-variant($sm-people, $sm-people, $white); }

.self{
  &-nav{
    .nav-link {background-color: $sm-self !important;border-color: $sm-self !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-self 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-self 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-self;
    color: #fff;
  }
}
.btn-self{ @include button-variant($sm-self, $sm-self, $white); }

.number, .logic{
  &-nav{
    .nav-link {background-color: $sm-number !important;border-color: $sm-number !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-number 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-number 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-number;
    color: #fff;
  }
}
.btn-number, .btn-logic{ @include button-variant($sm-number, $sm-number, $white); }

.word{
  &-nav{
    .nav-link {background-color: $sm-word !important;border-color: $sm-word !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-word 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-word 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-word;
    color: #fff;
  }
}
.btn-word{ @include button-variant($sm-word, $sm-word, $white); }

.body{
  &-nav{
    .nav-link {background-color: $sm-body !important;border-color: $sm-body !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-body 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-body 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-body;
    color: #fff;
  }
}
.btn-body{ @include button-variant($sm-body, $sm-body, $white); }

.picture{
  &-nav{
    .nav-link {background-color: $sm-picture !important;border-color: $sm-picture !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-picture 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-picture 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-picture;
  }
}
.btn-picture{ @include button-variant($sm-picture, $sm-picture, $white); }

.music{
  &-nav{
    .nav-link {background-color: $sm-music !important;border-color: $sm-music !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-music 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-music 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-music;
    color: #fff;
  }
}
.btn-music{ @include button-variant($sm-music, $sm-music, $white); }

.nature{
  &-nav{
    .nav-link {background-color: $sm-nature !important;border-color: $sm-nature !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-nature 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-nature 1rem
          );
      }
    }
  }
  &-tab{
    background-color: $sm-nature;
    color: #fff;
  }
}
.btn-nature{ @include button-variant($sm-nature, $sm-nature, $white); }

.akal{
  &-nav{
    .nav-link {background-color: $sm-akal !important;border-color: $sm-akal !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      border-color: darken($sm-akal, 10%) !important;
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-akal 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-akal 1rem
          );
      }
    }
  }
  &-tab{
    @include gradient-y-three-colors($sm-akal, $sm-akal, 50%, lighten($sm-akal, 14%));
    color: #fff;
  }
}
.btn-akal{ @include button-variant($sm-akal, $sm-akal, $white); }

.fisik{
  &-nav{
    .nav-link {background-color: $sm-fisik !important;border-color: $sm-fisik !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover { 
      border-color: darken($sm-fisik, 10%) !important;
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-fisik 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-fisik 1rem
          );
      }
    }
  }
  &-tab{
    @include gradient-y-three-colors($sm-fisik, $sm-fisik, 50%,  lighten($sm-fisik, 14%));
    color: #fff;
  }
}
.btn-fisik{ @include button-variant($sm-fisik, $sm-fisik, $white); }

.sosial{
  &-nav{
    .nav-link {background-color: $sm-sosial !important;border-color: $sm-sosial !important;}
    .nav-link.active, .nav-link:hover, .nav-link.active:hover {
      border-color: darken($sm-sosial, 10%) !important;
      &:after{
        background-image:
          radial-gradient(
            circle at top left,
            rgba(255, 255, 255, 0) .95rem,
            $sm-sosial 1rem
          );
      }
      &:before{
        background-image:
          radial-gradient(
            circle at top right,
            rgba(255, 255, 255, 0) .95rem,
            $sm-sosial 1rem
          );
      }
    }
  }
  &-tab{
    @include gradient-y-three-colors($sm-sosial, $sm-sosial, 50%,  lighten($sm-sosial, 14%));
    color: #fff;
  }
}
.btn-sosial{ @include button-variant($sm-sosial, $sm-sosial, $white); }


.btn-smartness {
  padding-left: .75rem;
  padding-top: .25rem;
  padding-bottom: .25rem;

  &.w-100 + &.w-100 { margin-top: .5rem; }

  i.wy-smart { 
    margin-right: .5rem; 
  }
}