.form-group{
  .bs-select{
    .btn, .dropdown-menu{
      font-size: $input-field-font-size;        
    }
  }
}

.bootstrap-select.btn-group.bs-province{
  .dropdown-menu{
    max-height: 1.5rem*7 !important;
  }
}

.anak-jk{  
  .custom-control{
    padding-left: 2.5rem;
    height: 2.5rem;

    .jk{
      position: absolute;
      top: 0;
      left: 0;
      border-color: $gray-500;
      background-color: transparent;
      &.boy{
        background-image: url("../img/i-boy-gray.png");
      }
      &.girl{
        background-image: url("../img/i-girl-gray.png");
      }
    }
  }
  .jk{
    @include size(2.5rem);
    border: 2px solid $wy-merah;
    background-color: $wy-merah;
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    display: inline-block;
    &.boy{
        background-image: url("../img/i-boy-white.png");
      }
      &.girl{
        background-image: url("../img/i-girl-white.png");
      }
  }

  .custom-control-input{
    display: none;
  }

  .custom-control-input:checked ~ .jk {
    background-color: $wy-merah;
    border-color: $wy-merah;
    &.boy{
      background-image: url("../img/i-boy-white.png");
    }
    &.girl{
      background-image: url("../img/i-girl-white.png");
    }
  }

  .custom-control-input:indeterminate ~ .jk {
    background-color: transparent;
  }

  .custom-control-description{
    padding-left: .5rem;
  }
}

.anak-input{
  background-color: $gray-300;
  @include border-top-radius($border-radius);
  margin-bottom: 1px;
  @include buatRow;
  padding: .75rem 5px;
  flex-wrap: nowrap;

  .anak-field, .anak-btns{
    @include colEqual;
  }

  .anak-jk{
    @include buatColReady(5);
    flex: 0 0 6.2rem;
    max-width: 6.2rem;
    align-self: center;
    .custom-control{
      margin-right: 0;
    }
  }
  .anak-field{
    padding: 0;
    .form-group{
      margin-bottom: 0;
    }
    .form-group+.form-group{
      margin-top: .5rem;
    }
  }
  .anak-btns{
    @include buatColReady(5);
    flex: 0 1 4rem;
    max-width: 4rem;

    .btn{
      width: 100%;
      height: 100%;
      padding: 0;
      font-size: 2rem;
      @include fw(bold);
    }
  }
}

.anak{
  &-item{
    background-color: $white;
    display: flex;
    padding: .75rem 10px;
    .meta-bar, .actions{
      font-size: $font-size-sm;
      display: inline-block;
      margin-top: .25rem;
    }
    .meta-bar .anak-age{font-size: inherit;}
    .actions{
      float: right;
      a{
        display: inline-block;
      }
      a+a{
        margin-left: -4px;
        &::before{
          content:'|';
          display: inline-block;
          padding-left: .25rem;
          padding-right: .25rem;
        }
      }
    }
    .anak-jk{
      align-self: center;
      flex: 0 0 2.5rem;
      max-width: 2.5rem;
    }
  }

  &-bio{
    padding-left: 10px;
    width: 100%;
  }


  &-name{
    @include fw(bold);
    width: 100%;
  }

  &-age{
    font-size: .75rem;
  }
  &-img{
    flex: 0 0 auto;
    border-radius: 50%;
    align-self: center;
    @include embed-responsive;
    &::before{
      padding-top: 100%;
    }
    img{
      @include embed-responsive-item;
    }
  }

}

.form-hamil{
  background-color: $gray-300;
  @include border-radius($border-radius);
  padding: .75rem 10px;
  font-size: .85rem;
  .bs-select .btn, .bs-select .dropdown-menu{
    font-size: inherit;
  }
}

// > file upload untuk foto
$foto-upload-height: 3rem;

.foto-upload {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: $foto-upload-height;
  margin-bottom: 0;

  .anak-img {
    @include size($foto-upload-height);
    position: absolute;
    top: 0;
    left: 0;
    top: -$input-btn-border-width;
    left: -$input-btn-border-width;
    bottom: -$input-btn-border-width;
    border: $input-btn-border-width solid $input-border-color;

    &::after {
      position: absolute;
      top: -$input-btn-border-width;
      left: -$input-btn-border-width;
      bottom: -$input-btn-border-width;
      content: '\f030';
      @include fa-icon;
      font-size: 1.3rem;
      line-height: $foto-upload-height;
      text-align: center;
      color: $input-border-color;
      background-color: $input-bg;
      @include size($foto-upload-height);
      z-index: -1;
    }
  }
}

.foto-upload-input {
  min-width: $custom-file-width;
  max-width: 100%;
  height: $foto-upload-height;
  margin: 0;
  opacity: 0;

  &:focus ~ .foto-upload-control {
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-btn-focus-box-shadow;
    } @else {
      box-shadow: $input-btn-focus-box-shadow;
    }
  }
}

.foto-upload-control {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: $foto-upload-height;
  padding: $custom-file-padding-y .5rem $custom-file-padding-y $foto-upload-height+.5rem;
  line-height: $custom-file-line-height;
  color: $custom-file-color;
  pointer-events: none;
  user-select: none;

  &::before {
    // content: '\f030';
    position: absolute;
    top: -$input-btn-border-width;
    left: -$input-btn-border-width;
    bottom: -$input-btn-border-width;
    z-index: 6;
    display: block;
    width: $foto-upload-height;
    height: $foto-upload-height;
    @include fa-icon;
    font-size: 1rem;
    line-height: $foto-upload-height;
    text-align: center;
    color: $input-border-color;
    @include gradient-bg($input-bg);
    border: $input-btn-border-width solid $input-border-color;
    @include border-radius(50%);
  }
}

// > dropdown select anak
.bs-select-anak {
  .btn-input,
  .dropdown-menu 
  { font-size: inherit; }

  .btn-input { border-color: $primary; }

  &.bootstrap-select.btn-group .dropdown-toggle .filter-option { width: 100%; }
  
  &.bootstrap-select.btn-group .dropdown-toggle .filter-option,
  &.bootstrap-select.btn-group .dropdown-menu li a{
    display: flex;
    align-items: center;
    color: $primary;
    font-weight: bold;

    small {
      font-size: 100%;
      margin-left: auto;
      padding-left: 1rem;
    }
  }

  .btn-input,
  &.bootstrap-select.btn-group .dropdown-menu li a{
    padding-left: .75rem;
  }

  &.bootstrap-select.btn-group .dropdown-menu li a{
    span.text {
      display: flex;
      flex: 1 0 auto;
    }
  }

  .jk {
    flex: 0 0 auto;
    border: none;
    background-color: transparent;

    &.girl { background-image: url('../img/i-girl-gray.png');}
    &.boy { background-image: url('../img/i-boy-gray.png');}
  }
}

.bs-select-anak.bootstrap-select.btn-group  {
  div.dropdown-toggle {
    font-size: 90%;
    cursor: default;

    &::after { content: normal; }

    .filter-option { 

      small { 
        display: block;
        margin-top: .3rem;
        padding: 0;
      }

      .anak-img { 
        margin-right: .5rem; 
        @include size($foto-upload-height);
      }
    }

  }
}

// date of birth, pake datepicker
.bs-dob, .bs-date{
  padding-right: 2rem;
  background-repeat: no-repeat;
  background-image: url("../img/i-dob.png");
  background-position: 97% center;
}

// datepicker
.datepicker{
  font-size: .85rem;
  td, th{
    padding: 3px 8px;
  }
}
.datepicker table tr td span {
  height: 41px;
  line-height: 41px;
}

.datepicker table tr td.active.active, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled.active, 
.datepicker table tr td.active.disabled.disabled, 
.datepicker table tr td.active.disabled:active, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active.disabled:hover.active, 
.datepicker table tr td.active.disabled:hover.disabled, 
.datepicker table tr td.active.disabled:hover:active, 
.datepicker table tr td.active.disabled:hover:hover, 
.datepicker table tr td.active.disabled:hover[disabled], 
.datepicker table tr td.active.disabled[disabled], 
.datepicker table tr td.active:active, 
.datepicker table tr td.active:hover, 
.datepicker table tr td.active:hover.active, 
.datepicker table tr td.active:hover.disabled, 
.datepicker table tr td.active:hover:active, 
.datepicker table tr td.active:hover:hover, 
.datepicker table tr td.active:hover[disabled], 
.datepicker table tr td.active[disabled],
.datepicker table tr td span.active.active, 
.datepicker table tr td span.active.disabled, 
.datepicker table tr td span.active.disabled.active, 
.datepicker table tr td span.active.disabled.disabled, 
.datepicker table tr td span.active.disabled:active, 
.datepicker table tr td span.active.disabled:hover, 
.datepicker table tr td span.active.disabled:hover.active, 
.datepicker table tr td span.active.disabled:hover.disabled, 
.datepicker table tr td span.active.disabled:hover:active, 
.datepicker table tr td span.active.disabled:hover:hover, 
.datepicker table tr td span.active.disabled:hover[disabled], 
.datepicker table tr td span.active.disabled[disabled], 
.datepicker table tr td span.active:active, 
.datepicker table tr td span.active:hover, 
.datepicker table tr td span.active:hover.active, 
.datepicker table tr td span.active:hover.disabled, 
.datepicker table tr td span.active:hover:active, 
.datepicker table tr td span.active:hover:hover, 
.datepicker table tr td span.active:hover[disabled], 
.datepicker table tr td span.active[disabled]{
  background: $wy-merah;
}
.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover,
.datepicker table tr td span.active, 
.datepicker table tr td span.active.disabled, 
.datepicker table tr td span.active.disabled:hover, 
.datepicker table tr td span.active:hover{
  background: $wy-merah;
}
.datepicker table tr td.today, 
.datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled:hover, 
.datepicker table tr td.today:hover{
  background: $wy-emas;
}
.datepicker table tr td.today.active, 
.datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled.active, 
.datepicker table tr td.today.disabled.disabled, 
.datepicker table tr td.today.disabled:active, 
.datepicker table tr td.today.disabled:hover, 
.datepicker table tr td.today.disabled:hover.active, 
.datepicker table tr td.today.disabled:hover.disabled, 
.datepicker table tr td.today.disabled:hover:active, 
.datepicker table tr td.today.disabled:hover:hover, 
.datepicker table tr td.today.disabled:hover[disabled], 
.datepicker table tr td.today.disabled[disabled], 
.datepicker table tr td.today:active, 
.datepicker table tr td.today:hover, 
.datepicker table tr td.today:hover.active, 
.datepicker table tr td.today:hover.disabled, 
.datepicker table tr td.today:hover:active, 
.datepicker table tr td.today:hover:hover, 
.datepicker table tr td.today:hover[disabled], 
.datepicker table tr td.today[disabled]{
  background: $emas-gr1;
}