@include text-emphasis-variant(".text-emas-gr1", $emas-gr1);
@include text-emphasis-variant(".text-emas-gr2", $emas-2);
@include text-emphasis-variant(".text-emas-gr3", $emas-3);

@include text-emphasis-variant(".text-wy-emas", $wy-emas);
@include text-emphasis-variant(".text-emas", $emas);
@include text-emphasis-variant(".text-emas1", $emas-1);
@include text-emphasis-variant(".text-emas2", $emas-2);
@include text-emphasis-variant(".text-emas3", $emas-3);

@include text-emphasis-variant(".text-gray", $body-color);
@include text-emphasis-variant(".text-grey", $body-color);

@include text-emphasis-variant(".text-merah", $merah);
@include text-emphasis-variant(".text-wy-merah", $wy-merah);

@include text-emphasis-variant(".text-akal", $sm-akal);
@include text-emphasis-variant(".text-fisik", $sm-fisik);
@include text-emphasis-variant(".text-sosial", $sm-sosial);

@include text-emphasis-variant(".text-navy", $navy);

a{
	transition: $transition-base;
}

ul, ol{
	padding-left: 1.25rem;	
  margin-bottom: 0;
}

strong, bold,
.strong, .bold{
	@include fw(bold);
}

.subtitle{
  @extend .h1;
  color: $emas-3;
}

.text-inherit {
  font-size: inherit !important;
  color: inherit !important;
  line-height: inherit !important;
}

.font-size-inherit {
  font-size: inherit !important;
}

.fw-demi {
  @include fw(demi);
}

.white-space-nowrap {
  white-space: nowrap;
}

.letterspace-50 {
  @include letterspace(50);
}

ul.check{
	list-style-image: url('../img/i-check.png');
}

.textclamp-1{@include textclamp(1);}
.textclamp-3{@include textclamp(2);}
.textclamp-3{@include textclamp(4);}

.text-sm { font-size: $font-size-sm; }