//
// Core variables and mixins
//
@import "../wy/wy-variables";
@import "../bs/functions";
@import "../bs/custom";
@import "../bs/mixins";
@import "../wy/wy-mixins";
@import "../bs/tables";


.p-pages{
  background-color: $gray-100;
  position: relative;
  @include pfs(font-size, 13px, 14px);
  >.container>.row{
    @include buatRow(15);
  }

  @include media-breakpoint-up(md){
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      @include size(32%, 100%);
      background-color: $white;
      background-repeat: no-repeat;
      background-image: url("../img/orn-sky.png"),
        url("../img/orn-sun.png"),
        url("../img/orn-paint.png");
      background-position: 5% 80px,
       100% 50%,
       5% 100%;
      background-size: 30% auto, 30% auto, 50% auto;
    }
  }

  .wrapper-content{
    word-wrap: break-word;
  }
}

#tabPages{
  @include buatColReady(15);
  @include pfs(padding-top, 18px, 70px);
  @include pfs(padding-bottom, 18px, 70px);
  background-color: $white;
  @include media-breakpoint-up(md){
    @include make-col(3);
    background: none;
  }

  .nav-link{
    margin-bottom: .5rem;
    padding: $nav-link-padding-y $input-btn-padding-x-lg;
    @include fw(bold);
    @include letterspace(30);
    width: 100%;
    &:not(.active){
      color: $body-color;
      &:hover{
        color: $link-color;
      }
    }
    &:last-of-type{
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm){
      text-align: center;
    }
  }
}

#tabPagesContent{
  @include buatColReady(15);
  @include pfs(padding-top, 18px, 70px);
  @include pfs(padding-bottom, 18px, 70px);
  line-height: 1.5;

  @include media-breakpoint-up(md){
    @include make-col(9);
    padding-left: 3rem;
  }

  .page-title{
    font-size: 1.8rem;
    @include fw(bold);
    margin-bottom: 1.5rem;
  }
  h3{
    font-size: 1.4rem;
    @include fw(bold);
    margin-bottom: .25rem;
  }
  h4{
    font-size: 1rem;
    @include fw(bold);
  }
  h6{
    font-size: inherit;
    margin-bottom: .25rem;
  }
  p{
    margin-bottom: 1.5rem;
  }

  .form-control, 
  .custom-control-description{
    font-size: inherit;
  }

  img{
    @include img-fluid;
    margin-bottom: 2rem;
    @include border-radius($border-radius);
  }
}

.collapsible{
  margin-bottom: 2.5rem;
  @include media-breakpoint-up(md){
    margin-left: 2rem;
  }
  .item{
    border-top: 1px solid $gray-300;
    &:last-of-type{ border-bottom: 1px solid $gray-300;}
    >a{
      display: flex;
      align-items: flex-start;
      padding: .75rem .5rem;
      &:hover{
        text-decoration: none;
      }
      h4{
        @include colEqual;
      }
      .fa{
        font-size: 133.3%;
        flex: 0 0 auto;
        margin-top: .25rem;
      }
    }
    .panel{
      padding: .25rem 1.5rem;
    }
  }
}

#contact-us{
  .row-0{
    form{
      @include buatColReady;
      margin-bottom: 2rem;
      @include media-breakpoint-up(md){
        @include make-col(8);
        padding-right: $c-gutter/2;
      }
    }
    .form-group>button.btn{
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      font-size: 100%;
      @include media-breakpoint-down(sm){
        display: block;
        width: 100%;
      }
    }


    .img{
      @include buatColReady;
      margin-bottom: 3rem;
      align-self: flex-start;
      @include media-breakpoint-up(md){
        @include make-col(4);
      }
      >img{
        @include img-full(contain);
      }
    }
  }
}

#cookies-policy{
  table{
    @extend .table-responsive;
    border: none;
    @extend .table;
    td, th{
      border-color: $gray-300;
    }

    @include media-breakpoint-down(md){
      padding-bottom: 1rem;
    }
  }
}