/*
code: .SKH
*/

//
// Core variables and mixins
//
@import "../wy/wy-variables";
@import "../bs/functions";
@import "../bs/custom";
@import "../bs/mixins";
@import "../wy/wy-mixins";
@import '../fa/mixins';
@import '../fa/variables';


// > Banner
.skh-banner {

  .swiper-slide,
  .swiper-wrapper {
    height: 100% !important;
  }

  @include media-breakpoint-down(sm) {
    &::before {
      padding-top: percentage(272 / 360);
    }
  }

  @include media-breakpoint-up(md) {
    &::before {
      padding-top: percentage(386 / stripunit($wpsd-d));
    }
  }
}

.bl-navy {
  border-left: 2px solid $navy;
}

// > landing
.skh-landing {
  .sw-default {
    position: relative;
  }

  .sw-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .swiper-slide {
    padding: 0 1.5rem 1rem;
  }

  .swiper-pagination {
    width: auto;
    left: 1.5rem;
    bottom: 1.5rem;
    margin-left: -5px;

    &-bullet-active {
      background-color: $navy;
    }
  }

  .swiper-button {
    &-next,
    &-prev {
      background-image: none;
      @include button-variant($navy, $navy);
      width: auto;
      height: auto;
      padding: .4rem .5rem;
      border-radius: .25rem;
      font-size: 1.25rem;

      &::before { 
        @include fa-icon; 
        display: block;
      }
    }

    &-next::before {
      content: $fa-var-chevron-right;
    }

    &-prev::before {
      content: $fa-var-chevron-left;
    }
  }
  
  @include media-breakpoint-down(sm) {
    &-img::before { padding-top: percentage(202/312); }

    .sw-nav {
      padding-top: percentage(202/312);
    }
  }

  @include media-breakpoint-up(md) {
    &-img::before { padding-top: percentage(279/831); }

    .sw-nav {
      padding-top: percentage(279/831);
    }

    &-text { width: 80%; }
  }
}

// > skh videos
.skh {
  @include media-breakpoint-down(md) {
    &-vplay {
      margin-bottom: 1rem;
    }

    &-vplaylist {
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;

      .mCSB_horizontal.mCSB_inside>.mCSB_container {
        margin-bottom: 10px;
      }

      .test {
      }

    }

    &-video {
      display: inline-block;
      width: 8rem;
    }
  }

  @include media-breakpoint-up(lg) {
    &-videos {
      position: relative;
    }

    &-video + &-video {
      margin-top: .5rem;
    }

    &-vplaylist {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      .mCSB_container {
        margin-right: 20px;
      }
    }
  }
}

// > Button section
.skh-btn-section {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;

  &+& { margin-top: 1rem; }

  &-text {
    padding: 1rem;
  }

  .bg {
    @include object-fit(cover);
  }

  .bl-navy { margin-bottom: 1rem; }

  .btn {
    font-size: $font-size-sm;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .h2 { line-height: 1.1; }

  @include media-breakpoint-down(sm) {
    @include embed-responsive(345,413);
  }

  @include media-breakpoint-up(md) {
    @include embed-responsive(930,192);
  }
}

.btn-skh-tools {
  display: block;

  @include media-breakpoint-down(sm) {
    margin-bottom: 1rem;
  }
}

// > Article
.skh-article {
  &-title {
    margin-bottom: 2rem;

    span {
      display: inline-block;
      margin-right: 4rem;
      margin-bottom: .25rem;
    }

    p {
      margin-bottom: 1rem;
    }

    hr {
      border-top: 0;
      border-bottom: 3px solid $emas-3;
      display: inline-block;
      width: 4rem;
    }
  }

  &-body {
    line-height: 1.5;

    p {
      margin-bottom: 1rem;
    }
  }

  &s-related {
    @include gradient-y(rgba($brown,.5), $white, 0%, 50%);
  }

  &-related {
    position: relative;

    .h6 { @include textclamp(1); }

    p { margin-bottom: .25rem; }
  }

  @include media-breakpoint-down(sm) {
    &-banner {
      margin-left: -15px;
      margin-right: -15px;
      padding-bottom: 1.5rem;
    }

    &-related {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  @include media-breakpoint-up(md) {
    &-banner {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &-title {
     width: 90%;
    }

    &-body {
      width: 80%;
    }
  }
}

// > article list
.skh-articles {
  &-list {
    border-radius: 1rem;
    background-color: $brown;
    margin: 0;
    position: relative;

    & + & {
      margin-top: 1.5rem;
    }
  }

  &-img {
    img {
      display: block;
      width: 100%;
      @include object-fit(cover);
      border-radius: 1rem;
    }
  }

  &-text {
    padding-bottom: 1.5rem;

    h3 {
      margin-bottom: .5rem;
    }

    p { margin-bottom: 1rem; }
  }

  @include media-breakpoint-down(xs) {
    &-img {
      $map: (320px: ($grid-gutter-width-sm / 2), 1440px: ($grid-gutter-width / 2));
      @include fluidSize-minmax('margin', $map);
      @include embed-responsive(310, 142);

      img {
        @include embed-responsive-item;
      }
    }

    a {
      float: right;
    }
  }

  @include media-breakpoint-up(sm) {

    &-img {
      padding: 0;

      img {
        height: 100%;
      }
    }

    &-text {
      padding-top: 1rem;
    }
  }
}

// > section
.skh-section {
  &-featured {
    position: relative;

    &-text {
      padding: 1rem;
    }

    .embed-responsive {

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include gradient-y(rgba($emas, 0), $emas, 30%, 100%);
      }

      img {
        @include object-fit(cover);
        z-index: -1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &-articles {
      > [class*="col-"] {
        margin-bottom: 2rem;
      }
    }

    &-featured-text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    &-featured {
      display: flex;
      align-items: flex-end;
      height: 100%;

      .embed-responsive {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}