<footer id="mainFooter">
    <div class="container c-inner">
        <nav>
            {{ navigation:getmenu group="footer" }}
        </nav>
        <p>PT Wyeth Nutrition Sduaenam. Wisma Nestle, Perkantoran Hijau Arkadia, Gedung B, Lantai 11 Jalan Let. Jend. TB Simatupang Kav. 88 Jakarta 12520 Indonesia</p>
        <p>&copy; <?php echo date("Y"); ?> Wyeth. Powered by : </p>
        <img src="{{ theme:image_url file='wyeth-nutrition.png' }}" alt="">
        <div class="nav-social">
            <a href="https://www.facebook.com/Parentingclubid" target="_blank" class="btn btn-facebook"><i class="fa-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
            <!-- <a href="http://twitter.com/parentingclubID" target="_blank" class="btn btn-twitter"><i class="fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a> -->
            <a href="https://www.instagram.com/parentingclubid" target="_blank" class="btn btn-instagram"><i class="fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
            <a href="https://www.youtube.com/parentingclubid" target="_blank" class="btn btn-youtube"><i class="fa-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a>
        </div>
    </div>
</footer>

<div id="hubungi">
    <a id="hubungi-btn">Hubungi Kami</a>
    <div id="hubungi-txt">
        <a href="{{ url:site uri='page/contact-us' }}"><img src="{{ theme:image_url file='hubungi-kami.png' }}" alt="Hubungi Kami"></a>
        <span class="sr-only">Hubungi Kami. Layanan Bebas Pulsa Senin sampai Sabtu (08.00-17.00) 0800 1821 526.</span>
    </div>
</div>

<a href="#" class="cd-top"><i class="fa fa-fw fa-chevron-up" aria-hidden="true"></i><span class="sr-only">Go to Top</span></a>

<!-- Lightning Bolt Begins -->
 <script type="text/javascript">
     var lbTrans = '';
     var lbValue = '';
     var lbData = '';
     var lb_rn = new String(Math.random()); var lb_rns = lb_rn.substring(2, 12);
     var boltProtocol = ('https:' == document.location.protocol) ? 'https://' : 'http://';
     try {
         var newScript = document.createElement('script');
         var scriptElement = document.getElementsByTagName('script')[0];
         newScript.type = 'text/javascript';
         newScript.id = 'lightning_bolt_' + lb_rns;
         newScript.src = boltProtocol + 'cdn-akamai.mookie1.com/LB/LightningBolt.js';
         scriptElement.parentNode.insertBefore(newScript, scriptElement);
         scriptElement = null; newScript = null;
     } catch (e) { }
       </script>
 <!-- Lightning Bolt Ends -->
