<nav id="mainNavbar">
	<div class="container c-inner">
		<button class="navbar-toggler" type="button" id="mainNavbarToggler" data-toggle="collapse" data-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="{{ url:site }}"><img src="{{ theme:image_url file='parenting-club.png' }}" alt="">
			<span class="sr-only">Parenting Club</span>
		</a>
		<button id="searchToggleMobile" data-toggle="collapse" data-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-search" aria-hidden="true"></i></button>

		<div class="acc">
			{{ if user:logged_in }}
			<?php
			$_is_expert = '';

			if ($this->current_user) {
				if (in_array($this->current_user->group, array('expert', 'super_expert'))) {
					$_is_expert = 'open-notif';
				}
			}
			?>
			<a href="javascript:void(0);" class="acc-img <?= $_is_expert; ?>">
				<img src="<?php echo $this->current_user->photo_profile ? (file_exists($this->current_user->photo_profile)) ? base_url($this->current_user->photo_profile) : '{{ theme:image_url file=\'acc-na.png\' }}' : '{{ theme:image_url file=\'acc-na.png\' }}'; ?>" alt="">
			</a>
			<?php if ($this->current_user) { ?>
				<?php if (in_array($this->current_user->group, array('expert', 'super_expert'))) { ?>
					{{ slider:getUnreadNotifExpert }}
				<?php } ?>
			<?php } ?>
			<div class="acc-opt">
			    <a href="{{ url:site uri='dashboard' }}" class="acc-dashboard-link">Hai <?php echo $this->current_user->first_name; ?>!</a>
			    <a href="{{url:site uri='logout'}}" class="acc-logout-link">Logout</a>
			</div>

			{{ else }}
			<a href="javascript:void(0);" class="acc-img" onClick="doLogin()">
				<img src="{{ theme:image_url file='acc-na.png' }}" alt="">
			</a>
			<div class="acc-opt">
				<a href="javascript:void(0)" onClick="doLogin()" class="acc-login-link">Login</a>
				<a href="javascript:void(0)" onClick="doRegister()" class="acc-register-link">Register</a>
			</div>
			{{ endif }}
		</div>

		<div class="collapse navbar-collapse" id="mainNavbarContent">
			<a class="navbar-brand" href="#"><img src="{{ theme:image_url file='parenting-club.png' }}" alt=""></a>
			<button class="navbar-toggler" type="button" id="mainNavbarCloser" data-toggle="collapse" data-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span>&times;</span>
			</button>
			<div class="search hidden-lg-up">
				<?= form_open('search', 'class="searchbox"'); ?>
					<input type="search" placeholder="Search......" name="search" class="searchbox-input">
					<input type="hidden" name="milestone">
					<button class="searchbox-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				<?= form_close(); ?>
			</div>

			{{ navigation:getmenu group="newheader" }}   

			<div class="acc-info">
				{{ if user:logged_in }}
					<p>Hi, <?php echo $this->current_user->first_name; ?></p>
	        <a href="{{ url:site uri='dashboard' }}" class="btn btn-emas acc-dashboard-link">Dashboard</a>
	        <a href="{{url:site uri='logout'}}" class="btn btn-primary acc-logout-link">Logout</a>
				{{ else }}
					<a href="javascript:void(0)" onClick="doRegister()" class="btn btn-emas">Register</a>
					<a href="javascript:void(0)" onClick="doLogin()" class="btn btn-primary">Sign In</a>
				{{ endif }}
			</div>
			<div class="nav-social">
				<p>Connect with us</p>
				<a href="https://www.facebook.com/Parentingclubid" target="_blank" class="btn btn-facebook"><i class="fa-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
            <!-- <a href="http://twitter.com/parentingclubID" target="_blank" class="btn btn-twitter"><i class="fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a> -->
            <a href="https://www.instagram.com/parentingclubid" target="_blank" class="btn btn-instagram"><i class="fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
            <a href="https://www.youtube.com/parentingclubid" target="_blank" class="btn btn-youtube"><i class="fa-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a>
			</div>
			<div class="search hidden-md-down">
				<?= form_open('search', 'class="searchbox sboxdesk"'); ?>
					<input type="search" id="searchbox-search" placeholder="Search ......" name="search" class="searchbox-input">
					<input type="hidden" name="milestone">
					<ul id="searchbox-suggesstion"></ul>
					<button class="searchbox-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				<?= form_close(); ?>
			</div>
		</div>
	</div>
</nav>