<!-- popup asi -->
<div class="modal fade modal1screen" id="puASI" tabindex="-1" role="dialog" aria-labelledby="puASIlabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-custom" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-emas3" id="puASIlabel">Air Susu Ibu (ASI) adalah makanan terbaik untuk bayi</h3>
			</div>
			<div class="modal-body text-emas2">
				<p>Organisasi Kesehatan Dunia (WHO) merekomendasikan pemberian ASI eksklusif untuk 6 bulan pertama dan dianjurkan dilakukan selama mungkin.</p>
				<p>Susu pertumbuhan diformulasikan untuk memenuhi kebutuhan nutrisi anak sehat diatas usia 1 tahun dan tidak dapat diberikan kepada bayi.</p>
			</div>
			<div class="modal-footer">
				<p><button type="button" class="btn btn-primary btn-lg btn-capital dismiss-perenting-popup" data-dismiss="modal" data-parentingpopup="asi">Klik untuk melanjutkan <i class="fa fa-arrow-circle-o-right ml-2" aria-hidden="true"></i></button</p>
			</div>
		</div>
	</div>
</div>
<!-- /. popup asi -->

<?php if(!$this->current_user && !isset($login_register)){ ?>
<!-- popup login & register -->
<div class="modal fade" id="puLoginRegister" tabindex="-1" role="dialog" aria-labelledby="puLoginRegisterLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-custom lr" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-header">
				<h3 class="modal-title text-white" id="puLoginRegisterLabel">Yuk Bergabung di Parenting Club</h3>
				<ul class="nav nav-tabs" id="tabLoginRegister" role="tablist">
					<li class="nav-item">
					    <a class="nav-link active" id="tab-login" data-toggle="tab" href="#login-pane" role="tab" aria-controls="login" aria-selected="true">Login</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" id="tab-register" data-toggle="tab" href="#register-pane" role="tab" aria-controls="register" aria-selected="false">Register</a>
					</li>
				</ul>
			</div>

			<div class="modal-body tab-content" id="tabLoginRegisterContent">
				<div class="tab-pane fade" id="login-pane" role="tabpanel" aria-labelledby="tab-login">
				  	<div class="btn-social">
					  	<a href="{{url:site uri='fb-connect'}}" class="btn btn-facebook btn-capital">Login dengan <span class="sr-only">Facebook</span> <i class="fa fa-facebook" aria-hidden="true"></i></a>
					  	<!-- <a href="{{url:site uri='tw-connect'}}" class="btn btn-twitter btn-capital">Login dengan <span class="sr-only">Twitter</span> <i class="fa fa-twitter" aria-hidden="true"></i></a> -->
				  	</div>
				  	<div class="container">
				  		<div class="row">
				  			<div class="profile-form">
				  				<form action="">
			  						<p class="global-form-error" style="display: none;">
			  						</p>
			  						<div class="form-group">
									    <label class="sr-only">Email (diperlukan)</label>
									    <input type="email" class="form-control" placeholder="Email" name="email" id="login-email" onkeypress="return emailValidation(event)" autocomplete="off">
									    <p class="form-text invalid-feedback" id="login-feedback-email"></p>
									</div>
			  						<div class="form-group">
									    <label class="sr-only">Password (diperlukan)</label>
									    <input type="password" class="form-control" placeholder="Password" name="password" id="login-password" autocomplete="off">
									    <p class="form-text invalid-feedback" id="login-feedback-password"></p>
									</div>
									<div class="form-group">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="remember">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Ingat saya</span>
										</label>
										<a href="{{url:site uri='forgot-password'}}" class="forget-link">Lupa password</a>
									</div>
									<div class="form-group">
										<div id="loginCaptcha"></div>
									    <p class="form-text invalid-feedback" id="login-feedback-captcha"></p>
									</div>
									<button type="submit" class="btn btn-primary btn-capital w-100 btn-lg loginBtn">
										Login <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
									</button>
								</form>
				  			</div>
				  		</div>
				  	</div>
				</div>
				<div class="tab-pane fade" id="register-pane" role="tabpanel" aria-labelledby="tab-register">
				  	<div class="btn-social">
					  	<a href="{{url:site uri='fb-connect'}}" class="btn btn-facebook btn-capital">Register dengan <span class="sr-only">Facebook</span> <i class="fa fa-facebook" aria-hidden="true"></i></a>
					  	<!-- <a href="{{url:site uri='tw-connect'}}" class="btn btn-twitter btn-capital">Register dengan <span class="sr-only">Twitter</span> <i class="fa fa-twitter" aria-hidden="true"></i></a> -->
				  	</div>
				  	<div class="container">
				  		<div class="row">
			  				<div class="profile-photo">
				  				<h4 class="section-title">Gambar Profil</h4>
				  				<p class="small">Upload foto profil terbaik dengan si Kecil di sini</p>
				  				<div class="img">
				  					<img src="{{ theme:image_url file='default-img.jpg' }}" alt="" id="profile-image" style="max-width:100%">
				  					<input type="hidden" name="register-profile-filename" value="">
				  					<input type="hidden" name="register-profile-pathname" value="">
				  				</div>
			  					<div class="btns">
			  						<input type="file" name="photo_profile" class="sr-only" id="registerProfileInput" accept="image/*" style="display: none;">
			  						<a href="javascript:void(0);" class="btn btn-emas btn-capital" id="btn-register-profile">Upload photo <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
			  					</div>
			  				</div>
			  				<div class="profile-form">
		  						<h5 class="hidden-sm-down section-title">Info Profile</h5>
			  					<form action="">
			  						<?php
							            $name = $phone = $email = '';
						                $me = $this->session->userdata('me');
						                $first_name = isset($me['first_name']) ? $me['first_name']:'';
						                $last_name = isset($me['last_name']) ? $me['last_name']:'';
						                $phone  = isset($me['phone']) ? $me['phone']:'';
						                $email  = isset($me['email']) ? $me['email']:'';
						                $data_guestkid 	= ($this->session->userdata('unreg_kid')) ? $this->session->userdata('unreg_kid') : array();
							        ?>
			  						<div class="form-group">
									    <label class="sr-only">Nama Depan (diperlukan)</label>
									    <input type="text" class="form-control" placeholder="Nama Depan" required onkeypress="return allLetterspace(event)" name="first_name" value="<?php echo $first_name; ?>" autocomplete="off">
									    <p class="form-text invalid-feedback" id="register-feedback-first_name"></p>
									  </div>
			  						<div class="form-group">
									    <label class="sr-only">Nama Belakang (diperlukan)</label>
									    <input type="text" class="form-control" placeholder="Nama Belakang" required id="reg-namabelakang" onkeypress="return allLetterspace(event)" name="last_name" value="<?php echo $last_name; ?>" autocomplete="off">
									    <p class="form-text invalid-feedback" id="register-feedback-last_name"></p>
									</div>
									<div class="form-group">
									    <label class="sr-only">Jenis kelamin (diperlukan)</label>
										<div>
										  	<select class="bs-select" title="Pilih jenis kelamin" data-width="100%" name="gender">
												<option value="">Pilih Jenis Kelamin</option>
					  							<option value="m">Pria</option>
					  							<option value="f">Wanita</option>
											</select>
									    	<p class="form-text invalid-feedback" id="register-feedback-gender"></p>
									    </div>
									</div>
			  						<div class="form-group">
									    <label class="sr-only">No. Handphone (diperlukan)</label>
									    <input class="form-control" placeholder="No Handphone" required type="tel" id="reg-nohp" onkeypress="return numeric(event)" name="phone" value="<?php echo $phone; ?>" autocomplete="off">
									    <p class="form-text invalid-feedback" id="register-feedback-phone"></p>
									</div>
			  						<div class="form-group">
									    <label class="sr-only">Email (diperlukan)</label>
									    <input type="email" class="form-control" placeholder="Email" required name="email" id="reg-email" onkeypress="return emailValidation(event)" value="<?php echo $email; ?>" autocomplete="off">
									    <p class="form-text invalid-feedback" id="register-feedback-email"></p>
									</div>
									<div class="form-group">
									  	<p>Password minimal 8 karakter yang berisi angka, huruf, dan karakter simbol.</p>
									</div>
			  						<div class="form-group">
									    <label class="sr-only">Password (diperlukan)</label>
									    <input type="password" class="form-control" placeholder="Password" required id="reg-password" name="password" autocomplete="off">
									    <p class="form-text invalid-feedback" id="register-feedback-password"></p>
									</div>
			  						<div class="form-group">
									    <label class="sr-only">Ulangi Password (diperlukan)</label>
									    <input type="password" class="form-control" placeholder="Ulangi Password" required id="reg-rpassword" name="rpassword" autocomplete="off">
									    <p class="form-text invalid-feedback" id="register-feedback-rpassword"></p>
									</div>
									<div class="form-group mt-5">
									  	<label for="" class="strong">Apakah Anda Sudah Punya Anak?</label>
									  	<div class="d-inline-block float-lg-right">
											<label class="custom-control custom-checkbox">
												<input name="is_anak" value="1" name="radio" type="radio" class="custom-control-input" <?=(!empty($data_guestkid)) ? 'checked' : '';?>>
												<span class="custom-control-indicator"></span>
												<span class="custom-control-description">Ya</span>
											</label>
											<label class="custom-control custom-checkbox">
												<input name="is_anak" value="0" name="radio" type="radio" class="custom-control-input" <?=(!empty($data_guestkid)) ? '' : 'checked';?>>
												<span class="custom-control-indicator"></span>
												<span class="custom-control-description">Tidak</span>
											</label>
										</div>
									</div>
									<div class="form-anak register-anak" <?=(!empty($data_guestkid)) ? 'style="display:block;"' : 'style="display:none;"';?> >
									  	<div class="anak-input">
										  	<div class="anak-jk">
							  					<label class="custom-control">
													<input id="jk-boy" name="register-jk-anak" type="radio" class="custom-control-input" value="1">
													<span class="jk boy"></span>
													<span class="custom-control-description sr-only">Laki-laki</span>
												</label>
							  					<label class="custom-control">
													<input id="jk-girl" name="register-jk-anak" type="radio" class="custom-control-input" value="2">
													<span class="jk girl"></span>
													<span class="custom-control-description sr-only">Perempuan</span>
												</label>
												<p class="form-text invalid-feedback" id="register-feedback-anak-jk"></p>
					  						</div>
					  						<div class="anak-field">
						  						<div class="form-group">
												    <label class="sr-only">Nama Anak (diperlukan)</label>
												    <input type="text" class="form-control" placeholder="Nama Anak" required name="register-nama-anak" onkeypress="return allLetterspace(event)">
												    <p class="form-text invalid-feedback" id="register-feedback-anak-nama"></p>
												</div>
						  						<div class="form-group">
												    <label class="sr-only">Tanggal lahir anak (diperlukan)</label>
												    <input type="text" class="form-control bs-dob" placeholder="Tanggal lahir" required name="register-dob-anak">
												    <p class="form-text invalid-feedback" id="register-feedback-anak-dob"></p>
												</div>
					  						</div>
					  						<div class="anak-btns">
					  							<button class="btn btn-red register-tambah-anak">+<span class="sr-only">Tambah anak</span></button>
					  						</div>
					  					</div>
					  					<div class="anak-list" id="anak-list" data-listanak="0">
					  					</div>
									</div>

									<div class="form-group mt-5">
									  	<label for="" class="strong">Apakah Anda Sedang Hamil?</label>
									  	<div class="d-inline-block">
											<label class="custom-control custom-checkbox">
												<input name="pregnant" value="1" type="radio" class="custom-control-input">
												<span class="custom-control-indicator"></span>
												<span class="custom-control-description">Ya</span>
											</label>
											<label class="custom-control custom-checkbox">
												<input name="pregnant" value="0" type="radio" class="custom-control-input" checked>
												<span class="custom-control-indicator"></span>
												<span class="custom-control-description">Tidak</span>
											</label>
										</div>
								  	</div>
								  	<div class="form-hamil hamil" style="display:none;">
								  		Ya, saya sedang hamil dengan masa kandungan
							  			<select class="bs-select" name="pregnancy_age">
											<option value="0">Pilih Usia</option>
				  							<option value="1">Trisemester I</option>
				  							<option value="2">Trisemester II</option>
				  							<option value="3">Trisemester III</option>
										</select>
										<p class="form-text invalid-feedback" id="register-feedback-pregnancy_age"></p>
								  	</div>

								  	<div class="form-group mt-5">
							  			<div id="registerCaptcha"></div>
										<p class="form-text invalid-feedback" id="register-feedback-captcha"></p>
								  	</div>

								  	<div class="form-group mt-5">
								  		<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" name="tnc">
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Dengan ini saya menyatakan bahwa saya sudah berusia <b>13 tahun atau lebih</b>, dan bersedia menerima segala informasi mengenai materi promosi, penawaran, dan diskon dari <b>Wyeth</b> serta segala bentuk komunikasi dari produk <b>PT Wyeth Nutrition Sduaenam (“Wyeth”)</b> lainnya. Saya memberikan persetujuan kepada <b>Wyeth</b> untuk memproses data pribadi saya dengan mengacu pada Kebijakan Kerahasiaan <b>Wyeth</b> sebagaimana dipublikasikan dari waktu ke waktu pada <a href="https://www.parentingclub.co.id/page/privacy-policy-short-version">Privacy Policy</a></span>
										</label>
										<p class="form-text invalid-feedback" id="register-feedback-tnc"></p>
								  	</div>
								  	<button type="submit" class="btn btn-primary btn-capital w-100 btn-lg registerBtn">Register <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
			  					</form>
			  				</div>
				  		</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /. popup login & register -->

<!-- popup login -->
<div class="modal fade" id="puLogin" tabindex="-1" role="dialog" aria-labelledby="puLoginLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-custom lr" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-header">
				<h3 class="modal-title text-white" id="puLoginLabel">Yuk Bergabung di Parenting Club</h3>
			</div>
			<div class="modal-body">
			  	<div id="login-pane">
				  	<div class="btn-social">
					  	<a href="" class="btn btn-facebook btn-capital">Login dengan <span class="sr-only">Facebook</span> <i class="fa fa-facebook" aria-hidden="true"></i></a>
					  	<!-- <a href="" class="btn btn-twitter btn-capital">Login dengan <span class="sr-only">Twitter</span> <i class="fa fa-twitter" aria-hidden="true"></i></a> -->
				  	</div>
				  	<div class="container">
				  		<div class="row">
				  			<div class="profile-form">
				  				<form action="">
			  						<div class="form-group">
									    <label class="sr-only">Email (diperlukan)</label>
									    <input type="email" class="form-control" placeholder="Email" required>
								  	</div>
			  						<div class="form-group">
									    <label class="sr-only">Password (diperlukan)</label>
									    <input type="password" class="form-control" placeholder="Password" required>
								  	</div>
								  	<div class="form-group">
										<label class="custom-control custom-checkbox">
											<input id="radio1" name="radio" type="radio" class="custom-control-input" checked>
											<span class="custom-control-indicator"></span>
											<span class="custom-control-description">Ingat saya</span>
										</label>
										<a href="" class="forget-link">Lupa password</a>
								  	</div>
								  	<button type="submit" class="btn btn-primary btn-capital w-100 btn-lg">Login <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
								</form>
				  			</div>
				  		</div>
				  	</div>
			  	</div>
			</div>
		</div>
	</div>
</div>
<!-- /. popup login -->
<?php } ?>

<!-- popup thank you -->
<div class="modal fade puSukses" id="puGlobal" tabindex="-1" role="dialog" aria-labelledby="puThankYouLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-custom" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
			</button>

			<div class="modal-header">
				<img src="{{theme:image_url file='o-boygirl.png'}}" alt="" class="img-responsive">
				<h3 class="modal-title" id="puThankYouLabel">Terima Kasih Rosy!</h3>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>
<!-- /. popup thank you -->

<!-- popup success -->
<div class="modal fade puSukses" id="puSukses" tabindex="-1" role="dialog" aria-labelledby="puThankYouLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-custom" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>

			<div class="modal-header">
				<img src="{{theme:image_url file='o-boygirl.png'}}" alt="" class="img-responsive">
				<h3 class="modal-title" id="puThankYouLabel">Sukses</h3>				
			</div>
			<div class="modal-body">
				<p>Profile Anda berhasil diubah. Terimakasih.</p>
			</div>
		</div>
	</div>
</div>
<!-- /. popup success -->

<!-- popup thanks -->
<div class="modal fade puSukses" id="puThankYou" tabindex="-1" role="dialog" aria-labelledby="puThankYouLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-custom" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
			</button>

			<div class="modal-header">
				<img src="{{theme:image_url file='o-boygirl.png'}}" alt="" class="img-responsive">
				<h3 class="modal-title" id="puThankYouLabel">Terima Kasih</h3>				
			</div>
			<div class="modal-body">
				<p>Terimakasih Mam atas partisipasinya dalam mengisi form registrasi. Tim kami akan segera menghubungi Mam jika Mam terpilih mendapatkan sample satu box S-26 Procal GOLD Rasa Madu 350gr.</p>
				<p>Note: Program free sampling ini berlaku dalam jangka waktu tertentu hanya bagi Mam yang terpilih dan memiliki anak berusia 1-3 tahun. Dengan mengikuti program ini Mam dianggap telah menyetujui semua syarat dan ketentuan yang berlaku.</p>
				<p class="text-wy-merah">*Syarat dan Ketentuan</p>
			</div>
		</div>
	</div>
</div>
<!-- /. popup thanks -->

<!-- popup vaksin -->
<div class="modal fade modal1screen pu-intro-vaksin" id="puIntroVaksin" tabindex="-1" role="dialog" aria-labelledby="puIntroVaksinLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-custom" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title text-emas3" id="puIntroVaksinLabel">Mam, Sebelum Memulai</h3>				
			</div>
			<div class="modal-body">
				<p>Kalender imunisasi akan membantu Mam mengingat jadwal pemberian imunisasi sekaligus memberikan panduan lengkap tentang imunisasi.</p> 
				<p>Pastikan Mam mengisi data jadwal imunisasi si Kecil dengan benar dan selalu memperbaharuinya secara berkala. Disarankan untuk berkonsultasi dengan dokter spesialis anak atau untuk mendapatkan info lebih lanjut bisa berkonsultasi dengan dokter kami menggunakan layanan <a href="">Smart Consultation.</a></p>
				<p>Dengan mengklik lanjutkan, Mam setuju dengan <a href="">syarat & ketentuan</a> mengenai penggunaan kalender imunisasi.</p>
			</div>
			<div class="modal-footer">
				<p><button type="button" class="btn btn-primary btn-lg btn-capital" data-dismiss="modal">Lanjutkan <i class="fa fa-arrow-circle-o-right ml-2" aria-hidden="true"></i></button</p>
			</div>
		</div>
	</div>
</div>
<!-- /. popup vaksin -->

<!-- popup cookie -->
<div class="modal fade puCookie" id="puCookie" tabindex="-1" role="dialog" aria-labelledby="puThankYouLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-custom" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>

			<div class="modal-header">
				<img src="{{theme:image_url file='o-boygirl.png'}}" alt="" class="img-responsive">
				<h3 class="modal-title" id="puThankYouLabel">Cookie alert</h3>				
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-primary cookie-consent" data-consent="accept">
					Accept
				</button>
				<button type="button" class="btn btn-primary cookie-consent" data-consent="ignore">
					Ignore
				</button>
			</div>
		</div>
	</div>
</div>
<!-- /. popup cookie -->

<?php if ($this->current_user) { ?>
	{{ ask_expert:ask_popup }}
<?php } ?>
