//================================================================================================================
//  *   Chapther
//================================================================================================================
//  *   CH01 - Setup Variabels
//  *   CH02 - Extend Variables
//  *   CH03 - Button Default
//  *   CH04 - Button Arrow SVG



//================================================================================================================
//  *   CH01 - Setup Variabels
//================================================================================================================



//================================================================================================================
//  *   CH02 - Extend Variables
//================================================================================================================
%reset-button {
    overflow: visible;
    text-transform: none;

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:disabled,
    &.disabled {
        opacity: .65;
    }
}



//================================================================================================================
//  *   CH03 - Button Default
//================================================================================================================
.o-button {
    @extend %reset-button;
    background-color: button-color(background-color-primary, default);
    color: button-color(color-primary, default);

    &:not(:disabled):not(.disabled):hover {
        background: button-color(background-color-primary, hover);
        color: button-color(color-primary, hover);
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background: button-color(background-color-primary, active);
        color: button-color(color-primary, active);
    }
}

a.o-button {
    text-decoration: none;
}



//================================================================================================================
//  *   CH04 - Button Arrow SVG
//================================================================================================================
.o-button.o-button-arrow {
    background-color: transparent;

    .figure-assets,
    svg {
        height: auto;
        transition: .1s all ease-out;
        width: 111px;

        @include breakpoint(md) {
            width: 222px;
        }

        @include breakpoint(lg) {
            width: 158px;
        }
    }

    &:not(:disabled):not(.disabled):hover {
        background-color: transparent;

        .figure-assets,
        svg {
            transform: scale(.9);
        }        
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-color: transparent;
    }
}

// Button Arrow SVG Themes Color
.theme-green .o-button.o-button-arrow svg path {
    fill: background-color(themes, green);
}

.theme-green .o-button.o-button-arrow svg text {
    fill: background-color(themes, white);
}

.theme-orange .o-button.o-button-arrow svg path {
    fill: background-color(themes, orange);
}

.theme-orange .o-button.o-button-arrow svg text {
    fill: background-color(themes, white);
}

.theme-purple .o-button.o-button-arrow svg path {
    fill: background-color(themes, purple);
}

.theme-purple .o-button.o-button-arrow svg text {
    fill: background-color(themes, white);
}
// END Button Arrow SVG Themes Color

// Button Arrow SVG UI Color
.o-button.o-button-arrow.color-green svg path {
    fill: background-color(themes, green) !important;
}

.o-button.o-button-arrow.color-green svg text {
    fill: background-color(themes, white) !important;
}

.o-button.o-button-arrow.color-orange svg path {
    fill: background-color(themes, orange) !important;
}

.o-button.o-button-arrow.color-orange svg text {
    fill: background-color(themes, white) !important;
}

.o-button.o-button-arrow.color-purple svg path {
    fill: background-color(themes, purple) !important;
}

.o-button.o-button-arrow.color-purple svg text {
    fill: background-color(themes, white) !important;
}

.o-button.o-button-arrow.color-cyan svg path {
    fill: background-color(themes, cyan) !important;
}

.o-button.o-button-arrow.color-cyan svg text {
    fill: background-color(themes, white) !important;
}

.o-button.o-button-arrow.color-blue svg path {
    fill: background-color(themes, blue) !important;
}

.o-button.o-button-arrow.color-blue svg text {
    fill: background-color(themes, white) !important;
}

.o-button.o-button-arrow.color-pink svg path {
    fill: background-color(themes, pink) !important;
}

.o-button.o-button-arrow.color-pink svg text {
    fill: background-color(themes, white) !important;
}
// END Button Arrow SVG UI Color